<<<<<<< HEAD
/**
 * Colors
 */
.orange { color: #D39D14; }
.blue { color: #6399CD; }
.dark { color: #1D1D1D; }
.gray { color: #8B8B8B; }
.dark-gray { color: #4D4D4D; }

/**
 * Menu
 */
#mainmenu {
	background: #1D1D1D;
	margin-left: 77px;
}
#mainmenu ul {
	padding: 6px 20px 5px 20px;
	margin: 0px;
}
#mainmenu ul li { display: inline; }
#mainmenu ul li a {
	color: white;
	background-color: transparent;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 8px;
}
#mainmenu ul li a:hover, #mainmenu ul li.active a, #mainmenu ul li.hover a {
	color: #6399cd;
	background-color: #F7F7F7;
	text-decoration: none;
}

/**
 * General
 */
=======
html,
>>>>>>> happyhaha
body {
    height: 100%;
}
body{
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 13px;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.navbar-inverse{
    border:none;
    background-color: rgba(0,0,0,0.2);
}

.navbar-inverse a{
    color:#ddd !important;
}

.navbar-inverse a:hover{
    color:#fff !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color: rgba(0,0,0,0.2) !important;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

<<<<<<< HEAD
#logo {
	position: absolute;
	width: 77px;
	height: 77px;
	background-image: url(images/logo.jpg);
	background-repeat: no-repeat;
	background-size: contain;
=======
a.desc:after {
    content: /*"\e114"*/ "\e152";
>>>>>>> happyhaha
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}


<<<<<<< HEAD
#footer {
	padding-top: 10px;
	margin: 20px 40px 10px 40px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

/**
 * Bootstrao overrides
 */
#mainmenu .dropdown-menu {
	background-color: #F7F7F7;
	border-radius: 0;
	margin-top: 5px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .175);
	border: none;
	padding: 0;
}
#mainmenu .dropdown-menu li a{
	color: #6399cd;
	border-bottom: 1px solid #F0F0F0;
}
#mainmenu .dropdown-menu li a:hover{
	background-color: #F2F2F2;
}
.dropdown:hover > .dropdown-menu {
    display: block;    
}
.dropdown-menu .dropdown >.dropdown-menu 
{
	/** @todo above second level submenu */
=======
.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline{
    color:#000;
}
.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
@-webkit-keyframes color_change {
  from { color: #468847; }
  to { color: #fff  ; }
}
@-moz-keyframes color_change {
  from { color: #468847; }
  to { color: #fff  ; }
}
@-ms-keyframes color_change {
  from { color: #468847; }
  to { color: #fff  ; }
}
@-o-keyframes color_change {
  from { color: #468847; }
  to { color: #fff  ; }
}
@keyframes color_change {
  from { color: #468847; }
  to { color: #fff  ; }
}
.myLogo span{
    -webkit-animation: color_change 5s infinite alternate;
  -moz-animation: color_change 5s infinite alternate;
  -ms-animation: color_change 5s infinite alternate;
  -o-animation: color_change 5s infinite alternate;
  animation: color_change 5s infinite alternate;
}
section{
    color:#fff;
    background: rgba(0,0,0,0.3);
    padding:20px;
}
section.main {
    color:#fff;
    background: rgba(0,0,0,0.3);
}
section.main p{
    font-size: 15px;
    color:#fff;
}

section.about{
    margin-top: 30px;
    padding:15px;
    background:rgba(0,0,0,0.3);
}
section.about div.block{
    text-align: center;
    padding:15px;
}
section.about div.block i{
    display: block;
    margin-bottom: 10px;
}
section.join{
    text-align: center;
}
section.login {
    text-align: center;
}
section.login button {
    width: 100%;
>>>>>>> happyhaha
}